body {
    background-color: #f8f9fa;
}

.login-container {
    margin-top: 5%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #180667;
}
